<h1>
  List of all movies
</h1>

<hr>

<form action="/insert_movie_record" method="post">
  <div>
    <label for="title_field">Title</label>
    <input type="text" name="title" id="title_field">
  </div>
  
  <div>
    <label for="year_field">Year</label>
    <input type="text" name="year" id="year_field">
  </div>
  
  <div>
    <label for="description_field">Description</label>
    <input type="text" name="description" id="description_field">
  </div>
  
  <div>
    <label for="duration_field">Duration</label>
    <input type="text" name="duration" id="duration_field">
  </div>
  
  <div>
    <label for="image_field">Image</label>
    <input type="text" name="image" id="image_field">
  </div>
  
  <div>
    <label for="director_id_field">Director ID</label>
    <input type="text" name="director_id" id="director_id_field">
  </div>
  

  <button>Create movie</button>
</form>

<hr>

<table border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Image
    </th>

    <th>
      Title
    </th>

    <th>
      Year
    </th>

    <th>
      Director
    </th>

    <th>
    </th>
  </tr>

  <% @list_of_movies.each do |a_movie| %>
  <tr>
    <td>
      <%= a_movie.id %>
    </td>

    <td>
      <img src="<%= a_movie.image %>" style="width:250px;">
    </td>

    <td>
      <%= a_movie.title %>
    </td>

    <td>
      <%= a_movie.year %>
    </td>

    <td>
      <% matching_directors = Director.where({ :id => a_movie.director_id }) %>
      
      <% the_director = matching_directors.at(0) %>

      <% if the_director == nil %>
        Uh oh! We weren't able to find a director for this movie.
      <% else %>
        <%= the_director.name %>
      <% end %>
    </td>

    <td>
      <a href="/movies/<%= a_movie.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
